body {
    background-color: rgb(64, 64, 64);
}

.jumbotron {
    background-image: url("../images/disk.jpg") ;
    background-size: 100% 100%; 
    border-bottom: #e5e5e3 solid 2px;
}


#container1 {
    background-color: #e5e5e3
    
}

#block {
    background-color: grey;
    color: honeydew;
    border-radius: 10px;
}

.container {
    border-radius: 10px;
}

#aotw {
    background-color: grey;
    color: honeydew;
    border-radius: 10px;
}

#footer {
    background-color: #e5e5e3;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio {
    color: grey;
}

.pagination {
    justify-content: center;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: Grey !Important;
    border: solid 1px white !Important;
}

.pagination > .active > a:hover
{
    background-color: grey !Important;
    border: solid 1px white;
}

.card-body {
    background-color: #e5e5e3;  
    color: black;
}

.card {
    border: solid 1px black;
}

.btn {
    color:#e5e5e3;
}

