body {
    background-color: grey;
}

.jumbotron {
    background-image: url("../images/disk.jpg") ;
    background-size: 100% 100%; 
}


#container1 {
    background-color: #e5e5e3;
}

#block {
    background-color: grey;
    color: honeydew;
    border-radius: 10px;
}