body {
    background-color: rgb(64, 64, 64);
}

.jumbotron {
    background-image: url("../images/disk.jpg") ;
    background-size: 100% 100%; 
    border-bottom: #e5e5e3 solid 2px;
}


#container1 {
    background-color: #e5e5e3
    
}

#contactForm {
    background-color: #e5e5e3;
    border-radius: 5%;
    
}

#block {
    background-color: grey;
    color: honeydew;
    border-radius: 10px;
}

.container {
    border-radius: 10px;
}

#contactButton {
    width: 80%;
    height: 25%;
   color: #e5e5e3;
    margin-left: 10%;
    font-size: 45px;
    border-radius: 5%;
    background-color: gray;
    color: honeydew;

}

#contact1 {
    height: 1100px;
}

#contactButton:hover {
    background-color: black;
    color: red;
}


#aotw {
    background-color: grey;
    color: honeydew;
    border-radius: 10px;
}

#footer {
    background-color: #e5e5e3;
    width: 100%;
}

#topName {
    background-color:  grey;
    border-radius: 10%;
    color: honeydew;
    margin-left: 25%;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio {
    color: grey;
}

.pagination {
    justify-content: center;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: Grey !Important;
    border: solid 1px white !Important;
}

.pagination > .active > a:hover
{
    background-color: grey !Important;
    border: solid 1px white;
}

.card-body {
    background-color: #e5e5e3;  
    color: black;
}

.card {
    border: solid 1px black;
}

.btn {
    color: #e5e5e3;
    background-color: gray ;
}

